* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #111111;
   font-family: 'Roboto', sans-serif;
}

.links {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   background-color: #2222;
   padding: 30px 0;
}

.groupo {
   display: flex;
}

ul {
   display: flex;
}

a {
   padding: 10px 30px;
   font-family: 'Roboto', sans-serif;
   color: aliceblue;
   text-decoration: none;
   font-size: 20px;
}

.mainlogo {
   width: 30%;
   height: 30%;
   border-radius: 50%;
   display: flex;
   margin: 10px auto;
}

h1 {
   font-family: 'Robot', sans-serif;
   font-weight: 700;
   font-size: 32px;
   line-height: 16px;
   text-align: center;
   margin: 30px 0;
   color: aliceblue;
}

h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 16px;
   color: #ffff;
   text-align: justify;
   min-width: 440px;
}

ul {
   list-style: none;
}

.escolha {
   display: flex;
}

li {
   padding: 5px 15px 5px 15px;
   font-size: 16px;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
   color: aliceblue;
}

.discover,
.ignit {
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 10px;
}

.escolha li {
   border: 1px solid black;
   margin-right: 10px;
}

.Novo {
   text-align: center;
   margin-bottom: 15px;
   position: absolute;
   bottom: 0;
}

.Novo a {
   margin-right: 20px;
   color: aliceblue;
   font-size: 20px;
   text-decoration: none;
}

.cards {
   margin: 100px auto;
   width: 1250px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}

.card {
   box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.4);
   border-radius: 16px;
   background-color: #111111;
   cursor: pointer;
   height: 600px;
   width: 350px;
}
.card img {
   width: auto;
   height: auto;
   margin: 170px 50px;
}

.card h1 {
   color: #b4b4b4;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
   font-size: 20px;
   line-height: 26px;
   padding: 5px 20px;
}

.card h4 {
   color: #b6b7f6;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   padding: 5px 20px;
}

.card p {
   color: #b4b4b4;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
   font-size: 14x;
   padding: 1px 20px;
}

.modal-overlay {
   background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   opacity: 0;
   visibility: hidden;
}

.modal {
   background-color: white;
   width: 90%;
   height: 90%;
   margin: 5vh auto;
   position: relative;
}

.modal .close-modal {
   color: black;
   position: absolute;
   right: 8px;
   top: 8px;
   cursor: pointer;
}

.modal-overlay.ativo {
   opacity: 1;
   visibility: visible;
}

iframe {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 5%;
}

.banner {
   width: 1100px;
   height: 700px;
   border-radius: 16px;
   box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 2.5);
   margin: 3% auto;
   display: flex;
}

.banner .img {
   width: 350px;
   height: 600px;
   margin: 50px 20px;
   border-radius: 16px;
   box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.4);
}

.img img {
   width: auto;
   height: auto;
   margin: 170px 50px;
}

.banner h2 {
   color: aliceblue;
   margin: 50px 25px;
}

.descricao {
   display: flex;
   flex-direction: column;
}

.descricao li {
   margin: 5px 0;
}

.certificado {
   width: 700px;
   margin: 50px 0;
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.certificado li {
   display: flex;
   flex-direction: column;
}

ion-icon {
   font-size: 1.8em;
   margin-top: 5px;
}
